<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container 
    *ngFor="let item of displayedColumns"
    matColumnDef="{{ item.id }}"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.title }}</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!item.isButton; else button">
        <ng-container *ngIf="item.clickable; else regularText">
          <button mat-button color="accent"  (click)="elementClicked(element,$event)">
            {{ element[item.id] }}
          </button>
        </ng-container>
        <ng-template #regularText>
          <ng-container *ngIf='!item.isStatus; else status'>
            {{ element[item.id] }}
          </ng-container>
          <ng-template #status>
            {{ getStatus(element[item.id]) }}
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-template #button>
        <button *ngIf='element[item.id]!=3' class="main-button" (click)="buttonClicked.emit({ item: element})" mat-flat-button color='accent'>
          {{getButtonText(element[item.id]) | uppercase}}
        </button>
      </ng-template>
    </td>
  </ng-container>
  <tr
    mat-header-row
    *matHeaderRowDef="getTableDisplayedColumnsIds(displayedColumns)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: getTableDisplayedColumnsIds(displayedColumns)"
  ></tr>
</table>
